a{
	color:black;
	font-weight: bold;
	margin: 15px;
	font-style: italic;	
	float:center;
	
}
h1{
	color:black;
	font-size: 48px;
	text-align: center;
	font-style: italic;
	float:center;

}
img{
	width: 400px;
	display:block;
	margin: auto;
}
h2{
	color:black;
	font-size: 35px;
	font-style: italic;
	float:center;
}
p{
	color:black;
	font-size: 18px;
	text-align: center;
	font-style: Times 
}

#wrapper{
	background: #ffffff url("http://i60.tinypic.com/rl98qq.png") repeat-y 100% 0;
}
#content{
	width 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}
#content h2[
margin: 0;
]

aside{
	font-size: 14px;
	width:20px
	padding: 20px 0;
	margin: 0 20px 0 0;
}


a:hover{
	background-color: #aaaaaa;

footer{
	text-align: center;
	padding: 1em 0;
	clear: both;
}

div{
	font-size: 1.2em;
	width:46%;
	padding: 2%;
	display:inline-block;
}